* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(47, 47, 47);
    /* background: linear-gradient(90deg, rgb(83, 88, 80) 30%, rgb(237, 213, 213) 73%); */
}



#hb{
    margin-left:50% ;
    padding:10px;
    font-size: 30px;
    background-color: #0278ff;
    text-align: center;
    justify-content: center;

}
.msg-container {
    position: relative;
    left: 40%;
    margin-top: 15%;
}

.msg-container p {
    color: rgb(255, 0, 0); /* Red text color */
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.msg-container button {
    position: relative;
    width: 150px;
    height: 40px;
    margin-top: 3%;
    left: 5%;
    background-color: #ff9900; /* Orange button background color */
    border: 0;
}

.msg-container button:hover {
    transform: scale(1.2);
}

.msg-container a {
    text-decoration: none;
    color: #333; /* Dark gray text color */
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

table {
    position: relative;
    left: 10%;
    width: 75%;
    color: #fff; /* White text color */
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgba(0, 0, 0, 0.8);
}

tr:nth-child(odd) {
    background-color: rgba(147, 24, 24, 0.6);
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

td>button {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: #ff9900; /* Orange button background color */
    border: 0;
    border-radius: 5px;
}

td>button:hover {
    transform: scale(1.2);
}

td>button a {
    text-decoration: none;
    color: #333; /* Dark gray text color */
}

#send {
    background-color: #fff; /* White background color */
}

#send a {
    color: #0278ff; /* Green text color */
}

/* for show all transactions */
#transaction_status {
    color: greenyellow;
}
